<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="post.it.project.postit">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="post.it.project.social_networks.VK.VkApplication"
        android:largeHeap="true"
        >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <service android:name="post.it.project.social_networks.VK.PostToVkService"/>

        <activity android:name="post.it.project.social_networks.VK.LogIn"/>
        <activity android:name="post.it.project.social_networks.Odnoklassniki.OkLogIn"/>
        <activity android:name="post.it.project.social_networks.SocialNetworksActivity"/>
        <activity android:name="ru.ok.android.sdk.OkPostingActivity"/>
        <activity android:name="ru.ok.android.sdk.OkAppInviteActivity"/>
        <activity android:name="ru.ok.android.sdk.OkAppSuggestActivity"/>


        <activity
            android:name="ru.ok.android.sdk.OkAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="ok1249314816"
                    android:scheme="okauth"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"/>
    </application>

</manifest>